.popup__close-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    right: -40px;
    top: -40px;
    transform: rotate(-45deg);
    background-color: transparent;
    background-image: url('../../../images/add.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px 40px;
    border: none;
    cursor: pointer;
    transition: opacity .3s ease;
}   

.popup__close-icon:hover {
    opacity: 0.6;
}

@media screen and (max-width: 700px){

    .popup__close-icon {
        width: 26px;
        height: 26px;
        background-size: 26px 26px;
        right: 0;
    }
}