.popup__input {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin: 54px 36px 0 36px;
    padding-bottom: 13px;
    border: none;
    padding: 0 0 13px 0;
    border-bottom: 1px solid rgba(0,0,0,.2);;
}

.popup__input:last-of-type {
    margin: 29px 36px 0 36px;
}

@media screen and (max-width: 700px){

    .popup__input {
        margin: 76px 22px 0 22px;
        padding: 0 0 9px 0;
    }
    
    .popup__input:last-of-type {
        margin: 30px 24px 0 24px;
    }
}