.profile__add-button {
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: transparent;
    background-image: url('../../../images/add.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    cursor: pointer;
    transition: opacity .3s ease;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 930px){

    .profile__add-button {
        width: 282px;
        margin: 36px auto 0 auto;
    }

}
